.rodape {
    background-color: var(--cor-secundaria);
    display: flex;
    justify-content: center;
}

.rodape__container {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    align-items: center;
    margin: 0 1rem;
}

.rodape__titulo {
    color: var(--cor-principal);
}

.rodape__item {
    margin: 0 0.1rem;
}

.rodape__item__botao {
    transition: filter 0.3s ease;
}

.rodape__item__botao:hover {
    filter: invert(1);
}

.rodape__item__icone {
    width: 85%;
}

.rodape__lista__icones {
    display: flex;
    align-items: center;
    margin: 0.3rem 0.2rem;
}

.rodape__texto__copyright {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    color: var(--cinza-copyright);
    font-size: 0.875rem;
    font-weight: 300;
}