.rodape {
    background-color: var(--cor-secundaria);
}

.rodape__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 1rem;
}

.rodape__redes__sociais {
    display: flex;
    align-items: center;
    min-width: 20%;
}

.rodape__redes__sociais__titulo {
    color: var(--cor-principal);
}

.rodape__redes__sociais__lista {
    display: flex;
    align-items: center;
    margin: 0.3rem 0.2rem;
}

.rodape__redes__sociais__item {
    margin: 0 0.1rem;
}

.rodape__redes__sociais__item a{
    transition: filter 0.3s ease;
}

.rodape__redes__sociais__item a:hover {
    filter: invert(1);
}

.rodape__redes__sociais__item img{
    min-width: 80%;
    width: 80%;
}

.rodape__texto__copyright {
    min-width: 30%;
    display: flex;
    justify-content: center;
    color: var(--cinza-copyright);
    font-size: 0.875rem;
    font-weight: 300;
    margin: 0 1rem;
}

.rodape__logo {
    max-width: 10%;
    height: auto;
    padding: 0.5rem;
}

@media (max-width: 600px) {
    .rodape__redes__sociais__titulo {
        display: none;
    }

    .rodape__texto__copyright {
        font-size: 0.5rem;
    }
    
    .rodape__logo {
        width: 80%;
    }
}