@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("header.css");
@import url("footer.css");
@import url("index.css");
@import url("../lancamento/lancamento.css");

:root {
    --font-principal: "Roboto", sans-serif;
    --cor-principal: #FFFFFF;
    --cor-secundaria: #010380;
    --cor-hover: #5e61f0;
    --cinza-copyright: #ffffffe0;
    --gradiente-azul: linear-gradient(135deg, #010380 0%, #2b2fc0 50%, #5e61f0 100%);
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--cor-principal);
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}