@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("header.css");
@import url("footer.css");

:root {
    --font-principal: "Roboto", sans-serif;
    --cor-principal: #FFFFFF;
    --cor-secundaria: #010380;
    --cor-hoover: #5e61f0;
    --cinza-copyright: #ffffffe0;
}

body {
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
    background-color: var(--cor-principal);
}