@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url("header.css");
@import url("footer.css");
@import url("index.css");
@import url("../lancamento/lancamento.css");
@import url("../contato/contato.css");

:root {
    --font-principal: "Roboto", sans-serif;
    --cor-principal: #FFFFFF;
    --cor-secundaria: #1b357e;
    --cor-hover: #1351d8;
    --cinza-copyright: #ffffffe0;
    --gradiente-azul: linear-gradient(135deg, #010380 0%, #2b2fc0 50%, #5e61f0 100%);
    --gradiente-hover: linear-gradient(135deg, #5e61f0 0%, #2b2fc0 50%, #010380 100%);
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: var(--font-principal);
    font-size: 1rem;
    font-weight: 400;
    background-color: var(--cor-principal);
    margin: 0;
    padding: 0;
}

main {
    flex-grow: 1;
    text-align: center;
}