.lancamento {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
}

.lancamento__superior {
    display: flex;
    justify-content: center;
    flex-wrap:wrap;
    gap: 3.125rem;
    margin: auto;
}

.lancamento__video {
    padding: 5px 5px 0 5px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgb(58, 67, 70);
    background: var(--gradiente-azul);
}

/* .lancamento__video iframe {
    width: 90%;
    height: 90%;
} */

.lancamento__texto {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    text-align: justify;
    box-shadow: 2px 4px 4px rgb(58, 67, 70);
    border-radius: 8px;
}

.lancamento__texto__titulo {
    font-size: 1.125rem;
    font-weight: bold;
}

.lancamento__texto__paragrafo {
    line-height: 1.5;
}

.lancamento__inferior {
    margin: auto;
}

.lancamento__veiculos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
    box-shadow: 2px 4px 4px rgb(58, 67, 70);
    border-radius: 8px;
    gap: 2rem;
}

.veiculo {
    display: inline-block;
}

.veiculo__imagem {
    display: block;
    max-width: 100%;
}

.veiculo__descricao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    max-width: 100%;
    word-wrap: break-word;
}

.veiculo__titulo {
    color: var(--cor-hover);
    word-break: break-word;
}

.veiculo__paragrafo {
    font-size: 0.875rem;
}

