.lancamento {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
    padding: 2rem;
}

.lancamento__superior {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3.125rem;
    margin: auto;
}

.lancamento__video {
    padding: 5px 5px 0 5px;
    border-radius: 8px;
    box-shadow: 2px 4px 4px rgb(58, 67, 70);
    background: var(--gradiente-azul);
}

.lancamento__texto {
    width: 30%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    text-align: justify;
    box-shadow: 2px 4px 4px rgb(58, 67, 70);
    border-radius: 8px;
}

.lancamento__texto__titulo {
    font-size: 1.125rem;
    font-weight: bold;
}

.lancamento__texto__paragrafo {
    line-height: 1.5;
}

.lancamento__inferior {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    box-shadow: 2px 4px 4px rgb(58, 67, 70);
    border-radius: 8px;
    margin: auto;
    padding: 20px;
}

.lancamento__veiculos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.veiculo {
    /* display: inline-block; */
    width: 21rem;
}

.veiculo__imagem {
    padding: 0.5rem;
    transition: transform 0.3s ease;
}

.veiculo__imagem:hover {
    transform: scale(1.1);
}

.veiculo__descricao {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.veiculo__descricao input[type="checkbox"]{
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #000;
    border-radius: 4px;
    flex-shrink: 0;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.veiculo__descricao input[type="checkbox"]:hover{
    transform: scale(1.2);
}

.veiculo__titulo {
    color: var(--cor-hover);
    text-align: left;
}

.veiculo__paragrafo {
    font-size: 0.875rem;
    text-align: left;
}

.lancamento__inferior button{
    cursor: pointer;
    background: var(--gradiente-azul);
    color: var(--cor-principal);
    border-radius: 8px;
    padding: 0.5rem;
    border: 0.3px solid var(--cor-secundaria);
    transition: background 0.3s ease box-shadow 0.3s ease;
}

.lancamento__inferior button:hover{
    background: var(--gradiente-hover);
    box-shadow: 2px 4px 4px rgb(27, 31, 32);
}

@media (max-width: 1100px) {
    .lancamento__superior {
        flex-direction: column;
        align-items: center;
    }

    .lancamento__texto {
        width: 50%;
    }

    .lancamento__texto__titulo {
        font-size: 0.9rem;
    }

    .lancamento__texto__paragrafo {
        font-size: 0.8rem;
        line-height: 1.25;
    }

    .lancamento__video iframe{
        width: 95%;
        height: auto;
    }

    .lancamento__video {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 1100px) {
    .lancamento__superior {
        flex-direction: column;
        align-items: center;
    }

    .lancamento__texto {
        width: 70%;
    }

    .lancamento__video iframe {
        width: 95%;
        height: auto;
    }

    .lancamento__video {
        width: 60%;
        height: auto;
    }

    .lancamento__inferior {
        width: 70%;
    }
}

@media (max-width: 600px) {
    .lancamento__video iframe {
            width: 95%;
            height: auto;
        }
    
        .lancamento__video {
            width: 80%;
            height: auto;
        }

    .lancamento__inferior {
        width: fit-content;
    }

    .veiculo {
        width: auto;
    }

    .veiculo__imagem {
        width: 70%;
    }
}